<nav class="bg-dark navbar-dark">
    <div class="card card-header text-center">
        <div class="text-center">
            <a href="/"><img src="/images/logo.png" alt="Error" width="8%"></a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-2">
                <a class="navbar-brand" href="/admin_dashboard"><h5 class="text-white">Hello Admin, <br>
                        <strong><%= name %></strong></h5></a>
            </div>
            <div class="col-md-4 mt-2 text-center">
                <form action="/admin/student" method="POST" id="Form" class="form-inline"
                ></form>
                <input form="Form" name="student_id" class="form-control " type="text" placeholder="Enter Student ID">
                <button form="Form" class="btn btn-primary mt-1" type="submit">Search</button>
            </div>
            <div class="col-md-4 mt-2 mb-2 text-center">
                <a href="/admin/admin_logout" class="btn btn-info ">Logout</a>
            </div>
        </div>
    </div>
</nav>
<% include ./partials/messages %>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-6">
            <div class="card text-white bg-success text-center" style="max-width: 20rem">
                <h5 class="card-title text-center mt-1">Seats Per Subject: <strong><%= total_seats %></strong></h5>
            </div>
        </div>
        <div class="col-md-6">
            <form action="/admin/update_seats" method="POST" id="forms" class="form-inline my-2 my-lg-0"
                  onsubmit="return confirm('Are you sure?')"></form>
            <div class="row">
                <div class="col">
                    <input form="forms" type="number" name="total_seats" class="form-control mr-sm-2"
                           placeholder="Seats">
                </div>
                <div class="col">
                    <div class="text-left">
                        <button form="forms" class="btn btn-primary" type="submit">Update Seats</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="25%" class="text-center">Branch</th>
            <th scope="col" width="32%" class="text-center">Subject Name</th>
            <th scope="col" width="25%" class="text-center">Subject Code</th>
            <th scope="col" width="13%" class="text-center">Remove Subject</th>
        </tr>
        </thead>
        <tbody>
        <% var allSubjects = ['cse', 'ece', 'me', 'ce', 'it', 'ee']; %>
        <% var trade, obj; %>
        <% for (var i = 0; i < allSubjects.length; i++) { %>
            <% trade = allSubjects[i]; %>
            <% for (var j = 0; j < subject.length; j++) { %>
                <% obj = subject[j]; %>
                <% if (trade === obj.branch) { %>
                    <tr class="table-info text-center">
                        <th scope="row"><%= trade.toUpperCase() %></th>
                        <td><%= obj.subject_name %></td>
                        <td><%= obj.subject_code.toUpperCase() %></td>
                        <td>
                            <form action="/admin/remove_subject" method="POST" id="<%= obj.subject_code %>"
                                  class="form-inline"
                                  onsubmit="return confirm('Are you sure?')"></form>
                            <input form="<%= obj.subject_code %>" type="hidden" name="subject_code"
                                   value="<%= obj.subject_code %>" class="form-control mr-sm-2"
                            >
                            <div class="text-center">
                                <button form="<%= obj.subject_code %>" class="btn btn-danger" type="submit"><i
                                            class="fas fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        <% } %>
        </tbody>
    </table>
</div>
<form action="/admin/add_subject" method="POST" id="fform" class="form-inline my-2 my-lg-0"></form>
<div class="container">
    <div class="row">
        <div class="col-md-4 mt-2">
            <input form="fform" name="branch" class="form-control mr-sm-2" placeholder="Enter Branch Name"
                   type="text">
        </div>
        <div class="col-md-4 mt-2">
            <input form="fform" name="subject_name" class="form-control mr-sm-2" placeholder="Enter Subject Name"
                   type="text">
        </div>
        <div class="col-md-4 mt-2">
            <input form="fform" name="subject_code" class="form-control mr-sm-2" placeholder="Enter Subject Code"
                   type="text">
        </div>
    </div>
</div>
<div class="text-center mt-2">
    <button form="fform" class="btn btn-info my-2 my-sm-0" type="submit">Add Subject</button>
</div>
<div class="container mb-2 mt-2">
    <div class="row justify-content-center text-center">
        <div class="col-md-4 ">
            <div class="list-group text-center text-dark">
                <h6 class="list-group-item list-group-item-action active"><strong>Branch Name Must Follow The
                        Format</strong></h6>
                <p class="list-group-item" style="font-size: small">'<strong>cse</strong>': Computer Science and
                    Engineering</p>
                <p class="list-group-item" style="font-size: small">'<strong>ece</strong>': Electronics and
                    Communication Engineering</p>
                <p class="list-group-item" style="font-size: small">'<strong>me</strong>': Mechanical Engineering</p>
                <p class="list-group-item" style="font-size: small">'<strong>ce</strong>': Civil Engineering</p>
                <p class="list-group-item" style="font-size: small">'<strong>ee</strong>': Electrical Engineering</p>
                <p class="list-group-item" style="font-size: small">'<strong>it</strong>': Information Technology</p>
            </div>
        </div>
    </div>
</div>
